<div class="jumbotron">
	<h1>Share your brews!</h1>
	<h3>Let your friends and strangers know what brew you're drinking with Brewy!</h3>
	<p>Click here to</p>
	<p><%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>