<div class="jumbotron center">
	<h1>Peek inside Restaurants</h1>
	<h3>WallFly is simply an easy way to take peek inside that restaurant you're debating about going to tonight. Is it packed? How's the atmosphere? All easily rated.</h3>
	<% if user_signed_in? %>
	# do something
	<% else %>
	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>
	<% end %>
</div>